<% title 'Profile settings' %>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-1">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">
                    <%= current_user.name %>
                </span>
                <span class="text-black-50">
                    <%= current_user.email %>
                </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <%= bootstrap_form_with(model: current_user) do |f| %>
                <%= f.alert_message "Please fix the errors below.", error_summary: false %>
                <%= f.text_field :name%>
                <%= f.text_field :username %>
                <%= f.email_field :email %>
                <% if current_user.has_password? %>
                        <%= f.password_field :password, label: "New Password" %>
                        <%= f.password_field :password_confirmation, label: "Confirm Password" %>
                <% end %>
                <%= f.primary 'Update' %> 
            <% end %>
            <%= button_to "Delete", @user, method: :delete, class: "btn btn-secondary btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } }%>
        </div>
    </div>
</div>
