<!DOCTYPE html>
<html>
  <head>
    <title>Fbauth <%= " | "+ yield(:title) unless yield(:title).blank? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="offcanvas.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  
  <%=render "layouts/navbar" %>
  <%=render "layouts/notice" %>
  <body>
    <main class="container">
      <% if @show_title %>
      <div id="title" class="row">
        <div class="col">
          </br>
          <h1><%= yield(:title) %></h1>
        </div>
      </div>
      <% end %>
    <%= yield %>
    </main>
  </body>
</html>
